.contentTitle {
    font-weight: bold;
    font-size: 16px;
    color: #636363;
}
.contentNote {
    font-weight: bold;
    font-size: 13px;
    color: #3498DB;
}
.table {
    border-collapse:collapse;
    border:2px solid #34495E;
    background-color: #FFFFFF;
}
.table-bordered td{
    border:1px solid #ddd;
}
.table-header td {
    padding: 5px;
    font-weight: bold;
    background: #34495E;
    color: #ECF0F1;
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
}
.table-body1 td {
    padding: 5px;
    word-break: break-word;
    vertical-align: top;
    font-size: 14px;
    color: #465463;
}
.table-body2 td {
    padding: 5px;
    word-break: break-word;
    vertical-align: top;
    font-size: 14px;
    color: #465463;
    background-color:#f4f4f4;
}
.item1 {
    background: #34495E;
    color: #ECF0F1;
    font-weight: bold;
}
.status-red {
	background: #FF4444 !important;
}
.status-orange {
	background: #FF9800 !important;
}
.status-yellow {
    background: #FDDE4C !important;
}
.status-green {
	background: #25E34A !important;
}
.status-gray {
    background: #ECEFF1 !important;
}
.status-darkgray {    
    background: #BBB8B8 !important;
}
